.container{
    background: #bed8d9;
}
h1{
    color: white;
    font-size: 3em;
}
.cards{
    background: white;
    border-radius: 10px
}
.card{
    background: rgb(255, 255, 255);
    height: 180px;
    overflow: auto;
    border-radius: 10px    
}

.filter{
    background: rgba(255, 255, 255,0.50);
    border-radius: 10px
}

.card:hover{
    background: rgba(193, 217, 218, 0.28)
}

.margin5{
    margin: 5px;
}